#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

#### 2) Coloque os anos nos índices conforme a tabela.

In [1]:
import pandas as pd
import numpy as np

In [7]:
temperaturas_e_anos = pd.Series(data = [-0.8, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
temperaturas_e_anos

1900   -0.80
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [18]:
arr = np.random.normal(100, 10, (20,3))
pd.DataFrame(arr)

             0           1           2
0    82.293799  103.788212   88.328204
1   100.730385  108.474694   85.458477
2    97.987614   96.415826   88.096919
3   105.007063  111.883083   86.439591
4   105.732243   97.285208   89.707329
5    92.925222   88.449018  105.989493
6   100.808339   86.685738  110.062619
7   101.243553   96.989245   97.619392
8    84.788393  109.775622   89.023848
9   109.150197   95.279636  114.301948
10  117.045749  123.478982  123.334240
11   91.597178   99.865783  100.310077
12   94.405183   88.129429  104.921344
13   83.480541   82.455109  103.059477
14  120.206606  101.877812  110.669122
15  104.088586   89.620423  111.416254
16   99.546710   99.736194  106.559492
17  105.850601   99.561540   83.650997
18   99.371935   90.273034  103.892073
19  100.059891   79.040253   79.823753

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [71]:
arr = np.random.normal(100, 10, (20,3))
arr = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index = range (1,21))
arr

            x1          x2          x3
1   107.015933  100.708022   97.333578
2   104.631102  102.447446  105.728791
3    91.782311   96.107946   99.653343
4    86.630508   97.710731   94.493414
5    93.466966  112.212627   99.666038
6    99.516729  108.211848   99.468341
7    93.393522  114.396027  103.563099
8   104.665361  114.503738   87.052722
9    97.826545  104.264256  103.717796
10  111.107421   98.911765   91.653869
11   98.004140   91.945388  101.663272
12   91.020951   96.704077   99.713601
13   96.229574   96.053566  110.870089
14  109.261250  104.590528  110.702269
15  107.406498  103.448637  105.055098
16   92.004200  109.641154   92.854425
17   91.428280   94.318416   90.763373
18   97.030990  100.622694   94.480413
19   97.950790   88.974548   84.784466
20  100.728035  103.660783   96.582329

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [73]:
arr['Medias']=(arr["x1"]+arr['x2']+arr['x3'])/3
arr

            x1          x2          x3      Medias
1   107.015933  100.708022   97.333578  101.685844
2   104.631102  102.447446  105.728791  104.269113
3    91.782311   96.107946   99.653343   95.847866
4    86.630508   97.710731   94.493414   92.944884
5    93.466966  112.212627   99.666038  101.781877
6    99.516729  108.211848   99.468341  102.398973
7    93.393522  114.396027  103.563099  103.784216
8   104.665361  114.503738   87.052722  102.073940
9    97.826545  104.264256  103.717796  101.936199
10  111.107421   98.911765   91.653869  100.557685
11   98.004140   91.945388  101.663272   97.204267
12   91.020951   96.704077   99.713601   95.812876
13   96.229574   96.053566  110.870089  101.051076
14  109.261250  104.590528  110.702269  108.184682
15  107.406498  103.448637  105.055098  105.303411
16   92.004200  109.641154   92.854425   98.166593
17   91.428280   94.318416   90.763373   92.170023
18   97.030990  100.622694   94.480413   97.378032
19   97.950790   88.974548   84.784466   90.569935
20  100.728035  103.660783   96.582329  100.323716

### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [77]:
import math
arr['log'] = np.log(arr['Medias'])
arr

            x1          x2          x3      Medias       log
1   107.015933  100.708022   97.333578  101.685844  4.621888
2   104.631102  102.447446  105.728791  104.269113  4.646975
3    91.782311   96.107946   99.653343   95.847866  4.562762
4    86.630508   97.710731   94.493414   92.944884  4.532007
5    93.466966  112.212627   99.666038  101.781877  4.622832
6    99.516729  108.211848   99.468341  102.398973  4.628877
7    93.393522  114.396027  103.563099  103.784216  4.642314
8   104.665361  114.503738   87.052722  102.073940  4.625697
9    97.826545  104.264256  103.717796  101.936199  4.624347
10  111.107421   98.911765   91.653869  100.557685  4.610732
11   98.004140   91.945388  101.663272   97.204267  4.576815
12   91.020951   96.704077   99.713601   95.812876  4.562397
13   96.229574   96.053566  110.870089  101.051076  4.615626
14  109.261250  104.590528  110.702269  108.184682  4.683840
15  107.406498  103.448637  105.055098  105.303411  4.656846
16   92.004200  109.641154   92.854425   98.166593  4.586666
17   91.428280   94.318416   90.763373   92.170023  4.523635
18   97.030990  100.622694   94.480413   97.378032  4.578601
19   97.950790   88.974548   84.784466   90.569935  4.506122
20  100.728035  103.660783   96.582329  100.323716  4.608402